.ant-table-thead > tr > th {
  color: #fff; /* White text for header */
  text-align: center;
  font-weight: bold;
}

.ant-table-tbody > tr > td {
  text-align: center; /* Center-align table content */
}

.cart-table-product-details {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-table-product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-table-product-name {
  font-weight: bold;
  margin: 0;
  text-align: left; /* Left-align the product name */
}

.cart-table-product-attributes {
  color: #666;
  margin: 0;
  font-size: 12px;
  text-align: left; /* Left-align product attributes */
}

.price {
  font-weight: bold;
  color: #8f1362; /* Updated price color */
}

.quantity-input {
  width: 60px;
}

.free-shipping {
  color: #888;
  font-weight: bold;
}

.delete-button {
  color: #f5222d;
}
