.star-rating .ant-rate-star {
  font-size: 15px;
}

.star-rating .ant-rate-star-full {
  color: #ffc107;
}

.star-rating .ant-rate-star-half .ant-rate-star-first {
  color: #ffc107;
}

.star-rating .ant-rate-star-half .ant-rate-star-second {
  color: #e0e0e0;
}

.star-rating .ant-rate-star-zero {
  color: #e0e0e0;
}
